<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>記帳簿</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link href="/stylesheets/index.css" rel="stylesheet">
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/618b53c04a.js" crossorigin="anonymous"></script>

</head>

<body>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

  <!--Header-->
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <i class="fa-solid fa-dollar-sign"></i> {{#if isAuthenticated}}{{ user.name}}'s{{/if}} 記帳簿
        </a>
        <div class="text-right">
          

          {{#if isAuthenticated}}
          <a href="/expense/new"><button class="btn btn-outline-secondary">新增</button></a>
          <a href="/users/logout"> <button class="btn btn-info">登出</button></a>
          {{else}}
          <a href="/users/login" class="btn btn-secondary btn-outline-light">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>

    
  </header>



  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>

</html>