<!-- restaurant list -->
<div class="container">
  <h1 class="my-2 text-center">請輸入你的支出</h1>
  <div class="col-5 center">
  <form action="/expense" method="POST" >
    <div class="mb-3">
      <label for="name" class="form-label">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="房租" name="name" required />
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" aria-describedby="date" id="date" placeholder="date" name="date" required />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">分類<span class="text-danger">*</span></label>

      <select id="category" name="categoryId" class="form-select">
        <option selected disabled value="">選擇類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">金額<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="number" placeholder="100" name="number" required />
    </div>

    <div class="text-center">

      <button type="submit" class="btn btn-primary">
        新增開銷
      </button>

    </div>
  </form>
  </div>
  
</div>