<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<!-- restaurant list -->
<div class="container mt-5">
  
  <div class="row">
   
    <form action="/restaurants" method="POST">
  <div>
  <input type="text" placeholder="Sababa 沙巴巴中東美食" name="name">
  </div>
  <div>
  <input type="text" placeholder="Sababa Pita Bar" name="name_en">
  </div>
  <div>
  <input type="text" placeholder="中東料理" name="category">
  </div>
  <div>
  <input type="text" placeholder="圖片鏈結" name="image">
  </div>
  <div>
  <input type="text" placeholder="台北市羅斯福路...." name="location">
  </div>
  <div>
  <input type="text" placeholder="02 2363 8009" name="phone">
  </div>
  <div>
  <input type="text" placeholder="google_map" name="google_map">
  </div>
  <div>
  <input type="text" placeholder="評分" name="rating">
  </div>
  <div>
  <input type="text" placeholder="描述" name="description">
  </div>
  <button type="submit">Create</button>
</form>
    
    
    
    
    
    <!--</div>-->
  </div>
</div>

